{{<base}}
{{$title}}Forbidden!{{/title}}
{{$body}}
<div class="container col-5 bg-light m-5 p-3 mx-auto rounded">
    <div class="container col-5 bg-light m-5 p-3 mx-auto rounded">
    <div class="text-center"><h3>Страница о том, почему наша компания самая лучшая</h3></div>
    <div class="text-center">
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла <br>
    </div>
</div>
{{/body}}
{{/base}}