{{<base}}
{{$title}}Очередь{{/title}}

{{$additional_head}}<script src="static/js/admin_queue.js"></script>{{/additional_head}}

{{$body}}
<div class="container bg-light m-5 p-3 mx-auto col-12 rounded">
    <div class="m-3"><h2 align="center">Очередь заказов</h2></div>
    <table class='table table-sm table-light table-bordered table-hover'>
        <thead class='thead-light'>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Дата создания</th>
                <th scope='col'>Адрес доставки</th>
                <th scope='col'>Адрес изъятия</th>
                <th scope='col'>Дата изъятия</th>
                <th scope='col'>Время изъятия</th>
                <th scope='col'>Дата доставки</th>
                <th scope='col'>Время доставки</th>
                <th scope='col'>Статус</th>
                <th scope='col'>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {{#cards}}
            <tr class='queue_row' data-href='admin_card?card_id={{id}}'>
                <th><div class='badge badge-info'>{{id}}</div></th>
                <th>{{creation_time}}</th>
                <th>{{delivery_address}}</th>
                <th>{{income_address}}</th>
                <th>{{income_date}}</th>
                <th>{{income_time}}</th>
                <th>{{delivery_date}}</th>
                <th>{{delivery_time}}</th>
                <th>{{status}}</th>
                <th>{{price}}</th>
            </tr>
            {{/cards}}
        </tbody>
    </table>
    {{#paging}}
        <nav>
            <ul class="pagination">
                {{#prev}}<li class="page-item"><a class="page-link" href='/admin_queue?page={{page}}'>Previous</a></li>{{/prev}}
                {{#next}}<li class="page-item"><a class="page-link" href="/admin_queue?page={{page}}">Next</a></li>{{/next}}
            </ul>
        </nav>
    {{/paging}}
</div>
{{/body}}
{{/base}}
