{{<base}}
{{$title}}Заказ {{id}} (админка){{/title}}

{{$additional_head}}<script src="static/js/admin_card.js"></script>{{/additional_head}}

{{$body}}
<div class="container col-7 bg-light m-5 p-3 mx-auto rounded">
    <div class="m-3">
        <h2 align="center">Заказ {{id}} ({{#status}}{{#selected}}{{val}}{{/selected}}{{/status}})</h2>
        {{#user}}
            <h5>Имя: {{name}}</h5>
            <h5>Email: {{email}}</h5>
            <h5>Телефон: {{phone}}</h5>
        {{/user}}
    </div>
    <table class='table table-light table-bordered table-hover'>
        <thead class='thead-light'>
            <tr><th colspan='2' scope='col'>Данные заказа</th></tr>
        </thead>
        <tbody>
            <tr scope='row'>
                <th id='card_id' data-card_id={{id}}>ID</th>
                <th>{{id}}</th>
            </tr>
            <tr scope='row'>
                <th>Дата создания</th>
                <th>{{creation_time}}</th>
            </tr>
            <tr scope='row'>
                <th>Адрес доставки</th>
                <th><input class='delivery_address form-control' type="text" value="{{delivery_address}}" /></th>
            </tr>
            <tr scope='row'>
                <th>Адрес изъятия</th>
                <th><input class='income_address form-control' type="text" value="{{income_address}}" /></th>
            </tr>
            <tr scope='row'>
                <th>Дата изъятия</th>
                <th>
                    <select class='income_date form-control'>
                        {{#income_date}}
                            <option {{#selected}}selected{{/selected}} value='{{val}}'>{{val}}</option>
                        {{/income_date}}
                    </select>
                </th>
            </tr>
            <tr scope='row'>
                <th>Время изъятия</th>
                <th>
                    <select class='income_time form-control'>
                        {{#income_time}}
                            <option {{#selected}}selected{{/selected}} value='{{val}}'>{{val}}</option>
                        {{/income_time}}
                    </select>
                </th>
            </tr>
            <tr scope='row'>
                <th>Дата доставки</th>
                <th>
                    <select class='delivery_date form-control'>
                        {{#delivery_date}}
                            <option {{#selected}}selected{{/selected}} value='{{val}}'>{{val}}</option>
                        {{/delivery_date}}
                    </select>
                </th>
            </tr>
            <tr scope='row'>
                <th>Время доставки</th>
                <th>
                    <select class='delivery_time form-control'>
                        {{#delivery_time}}
                            <option {{#selected}}selected{{/selected}} value='{{val}}'>{{val}}</option>
                        {{/delivery_time}}
                    </select>
                </th>
            </tr>
            <tr scope='row'>
                <th>
                    Статус <a class='badge badge-warning' href='/card_history?card_id={{id}}'>история</a>
                </th>
                <th>
                    <select class='status form-control'>
                        {{#status}}
                            <option {{#selected}}selected{{/selected}} value='{{val}}'>{{val}}</option>
                        {{/status}}
                    </select>
                </th>
            </tr>
            <tr scope='row'>
                <th>Сумма</th>
                <th><input class='price form-control' type="text" value="{{price}}" /></th>
            </tr>
            <tr scope='row'>
                <th>Действия</th>
                <th>
                    <div>
                        <button type="button" class="admin_edit_card_btn btn btn-outline-dark btn-sm my-1">Изменить</button>
                        <button type="button" class="admin_delete_card_btn btn btn-outline-dark btn-sm my-1">Удалить</button>
                    </div>
                </th>
            </tr>
        </tbody>
    </table>
    <table class='table table-sm table-light table-bordered table-hover'>
        <thead class='thead-light'>
            <tr><th colspan='5' scope='col'>Вещи</th></tr>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Название</th>
                <th scope='col'>Описание</th>
                <th scope='col'>Вес</th>
                <th scope='col'>Действия</th>
            </tr>
        </thead>
        <tbody>
            {{#items}}
            <tr scope='row' class='item_row' data-item_id={{id}}>
                <th class='item_id'><div class='my-3'>{{id}}</div></th>
                <th><input class='name form-control my-3' type='text' value='{{name}}' /></th>
                <th><input class='description form-control my-3' type='text' value='{{description}}'/></th>
                <th><input class='weight form-control my-3' type='number' value='{{weight}}' /></th>
                <th>
                    <div align='center'>
                        <button type="button" class="admin_edit_item_btn btn btn-outline-dark btn-sm my-1">Изменить</button>
                        <button type="button" class="admin_delete_item_btn btn btn-outline-dark btn-sm my-1">Удалить</button>
                    </div>
                </th>
            </tr>
            {{/items}}
        </tbody>
    </table>
</div>
{{/body}}
{{/base}}