{{<base}}
{{$title}}История заявки {{card_id}}{{/title}}

{{$body}}
<div class="container bg-light m-5 p-3 mx-auto col-12 rounded">
    <div class="m-3"><h2 align="center">История заявки {{card_id}}</h2></div>
    <table class='table table-sm table-light table-bordered table-hover'>
        <thead class='thead-light'>
            <tr>
                <th scope='col'>Дата изменения</th>
                <th scope='col'>Старый статус</th>
                <th scope='col'>Новый статус</th>
            </tr>
        </thead>
        <tbody>
            {{#history}}
            <tr>
                <th>{{time}}</th>
                <th>{{status_old}}</th>
                <th>{{status_new}}</th>
            </tr>
            {{/history}}
        </tbody>
    </table>
</div>
{{/body}}
{{/base}}
