{{<base}}
{{$title}}Заказ {{id}}{{/title}}

{{$body}}
<div class="container col-7 bg-light m-5 p-3 mx-auto rounded">
    <div class="m-3"><h2 align="center">Заказ {{id}} ({{status}})</h2></div>
    <table class='table table-light table-bordered table-hover'>
        <thead class='thead-light'>
            <tr><th colspan='2' scope='col'>Данные заказа</th></tr>
        </thead>
        <tbody>
            <tr scope='row'>
                <th>ID</th>
                <th>{{id}}</th>
            </tr>
            <tr scope='row'>
                <th>Дата создания</th>
                <th>{{creation_time}}</th>
            </tr>
            <tr scope='row'>
                <th>Адрес доставки</th>
                <th>{{delivery_address}}</th>
            </tr>
            <tr scope='row'>
                <th>Адрес изъятия</th>
                <th>{{income_address}}</th>
            </tr>
            <tr scope='row'>
                <th>Дата изъятия</th>
                <th>{{income_date}}</th>
            </tr>
            <tr scope='row'>
                <th>Время изъятия</th>
                <th>{{income_time}}</th>
            </tr>
            <tr scope='row'>
                <th>Дата доставки</th>
                <th>{{delivery_date}}</th>
            </tr>
            <tr scope='row'>
                <th>Время доставки</th>
                <th>{{delivery_time}}</th>
            </tr>
            <tr scope='row'>
                <th>
                    Статус <a class='badge badge-warning' href='/card_history?card_id={{id}}'>история</a>
                </th>
                <th>{{status}}</th>
            </tr>
            <tr scope='row'>
                <th>Сумма</th>
                <th>{{price}}</th>
            </tr>
        </tbody>
    </table>
    <table class='table table-sm table-light table-bordered table-hover'>
        <thead class='thead-light'>
            <tr><th colspan='5' scope='col'>Вещи</th></tr>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Название</th>
                <th scope='col'>Описание</th>
                <th scope='col'>Вес</th>
            </tr>
        </thead>
        <tbody>
            {{#items}}
            <tr scope='row'>
                <th>{{id}}</th>
                <th>{{name}}</th>
                <th>{{description}}</th>
                <th>{{weight}}</th>
            </tr>
            {{/items}}
        </tbody>
    </table>
</div>
{{/body}}
{{/base}}