{{<base}}
{{$title}}Новый заказ{{/title}}

{{$additional_head}}<script src='/static/js/new_card.js'></script>{{/additional_head}}

{{$body}}
<div class="container col-7 bg-light m-5 p-3 mx-auto rounded">
    <form>
        <div class="form-group"><h2 align="center">Новый заказ</h2></div>
        <div class="form-group">
            <label for="income_date">Дата изъятия</label>
            <select id='income_date' class='form-control'>
                {{#availible_date}}
                    <option value='{{.}}'>{{.}}</option>
                {{/availible_date}}
            </select>
        </div>
        <div class="form-group">
            <label for="income_time">Время изъятия</label>
            <select id='income_time' class='form-control'>
                {{#availible_time}}
                    <option value='{{.}}'>{{.}}</option>
                {{/availible_time}}
            </select>
        </div>
        <div class="form-group">
            <label for="delivery_date">Дата доставки</label>
            <select id='delivery_date' class='form-control'>
                {{#availible_date}}
                    <option value='{{.}}'>{{.}}</option>
                {{/availible_date}}
            </select>
        </div>
        <div class="form-group">
            <label for="delivery_time">Время доставки</label>
            <select id='delivery_time' class='form-control'>
                {{#availible_time}}
                    <option value='{{.}}'>{{.}}</option>
                {{/availible_time}}
            </select>
        </div>
        <div class="form-group">
            <label for="delivery_address">Адрес доставки</label>
            <textarea class="form-control" id="delivery_address" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="income_address">Адрес изъятия</label>
            <textarea class="form-control" id="income_address" rows="3"></textarea>
        </div>
        <div class="item_row form-group form-row">
            <div class="col">
            <input type="text" class="name form-control" placeholder="Название">
            </div>
            <div class="col-7">
            <input type="text" class="description form-control" placeholder="Описание">
            </div>
            <div class="col">
            <input type="number" class="weight form-control" placeholder="Вес">
            </div>
        </div>
        <div class="form-group m-3">
            <button id='create_card_btn' type='button' class='btn btn-dark mx-3'>Создать</button>
            <button id='add_item_btn' type='button' class='btn btn-secondary mx-3'>Добавить предмет</button>
        </div>
    </form>
</div>
{{/body}}
{{/base}}
