{{<base}}
{{$title}}Регистрация{{/title}}
{{$body}}
{{#empty}}
<div class="container col-5 bg-light m-5 p-3 mx-auto rounded">
    <form action="/register" method="post">
        <div class="form-group">
            <h2 align="center">Регистрация</h2>
        </div>

        <div class="form-group">
            <label>Имя</label>
            <input type="text" name="name" class="form-control" required=1 autocomplete="off" placeholder="Имя">
        </div>

        <div class="form-group">
            <label>Login</label>
            <input type="text" name="login" class="form-control" required=1 autocomplete="off" placeholder="login">
        </div>

        <div class="form-group">
            <label>Email Address</label>
            <input type="email" name="email" class="form-control" required=1 autocomplete="off" placeholder="Email">
        </div>

        <div class="form-group">
            <label>Телефон</label>
            <input type="tel" name="phone" class="form-control" required=1 autocomplete="off" placeholder="+79165230815">
        </div>

        <div class="form-group">
            <label>Пароль</label>
            <input type="password" name="password" class="form-control" required=1 autocomplete="off" placeholder="Пароль">
        </div>

        <div class="form-group" align="center"><button type="submit" class="btn btn-outline-info">Зарегистрироваться</button></div>

    </form>
</div>
{{/empty}}
{{^empty}}
{{#success}}
    <div class="text-center text-light">GREAT</div>
{{/success}}
{{^success}}
    <div class="text-center text-light">NO</div>
{{/success}}
{{/empty}}
{{/body}}
{{/base}}